{% extends 'main.html'%}
{% load static %}

{% block content %}
        <div class="accountPage">
            <div class="accountPage__content">
                <div class="accountPage__banner">
                    <div class="accountPage__banner__userProfile--wrap">
                        <div class="accountPage__banner__userProfile">
                            <img src="../images/all/terry.jpg">
                        </div>
                    </div>
                    <div class="accountPage__banner__userInfo">
                        <div class="accountPage__banner__userInfo--label">CZEŚĆ <strong>{{user.username}}</strong></div>
                        <div class="accountPage__banner__userInfo--statsWrap">
                            <div class="accountPage__banner__userInfo--stats">
                                <div class="accountPage__banner__userInfo--statsCounter">0</div>
                                <div class="accountPage__banner__userInfo--statsCategory">PRZECZYTANYCH<br>KSIĄŻEK</div>
                            </div>
                            <div class="accountPage__banner__userInfo--stats">
                                <div class="accountPage__banner__userInfo--statsCounter">0</div>
                                <div class="accountPage__banner__userInfo--statsCategory">PRZECZYTANYCH<br>KSIĄŻEK</div>
                            </div>
                            <div class="accountPage__banner__userInfo--stats">
                                <div class="accountPage__banner__userInfo--statsCounter">0</div>
                                <div class="accountPage__banner__userInfo--statsCategory">PRZECZYTANYCH<br>KSIĄŻEK</div>
                            </div>
                            <div class="accountPage__banner__userInfo--stats">
                                <div class="accountPage__banner__userInfo--statsCounter">0</div>
                                <div class="accountPage__banner__userInfo--statsCategory">PRZECZYTANYCH<br>KSIĄŻEK</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accountPage__library">
                    <div class="label accountPage__library--label">BIBLIOTECZKA</div>
                    <div class="accountPage__library__content">
                        <div class="accountPage__library--category">
                            <h3>PRZECZYTANE</h3>
                            <hr>
                            <p>1 KSIĄŻKA</p>
                            <iconify-icon icon="tdesign:chat-checked"></iconify-icon>
                        </div>
                        <div class="accountPage__library--category">
                            <h3>TERAZ CZYTAM</h3>
                            <hr>
                            <p>1 KSIĄŻKA</p>
                            <iconify-icon icon="pajamas:book"></iconify-icon>
                        </div>
                        <div class="accountPage__library--category">
                            <h3>CHCE PRZECZYTAĆ</h3>
                            <hr>
                            <p>1 KSIĄŻKA</p>
                            <iconify-icon icon="streamline:travel-wayfinder-lifebuoy-water-life-ring-wheely-lifebelt-kisbee"></iconify-icon>
                        </div>
                    </div>
                </div>
                <div class="accountPage__stats">
                    <div class="label accountPage__stats--label">MOJE STATYSTYKI</div>
                    <div class="accountPage__stats__content">
                        <div class="accountPage__stats__category">
                            <iconify-icon icon="bi:book" class="userranking__items-content-label-icon"></iconify-icon>
                            <p>W sumie przeczytano</p>
                            <hr>
                            <h1>1</h1>
                            KSIĄŻEK
                        </div>
                        <div class="accountPage__stats__category">
                            <iconify-icon icon="mdi:draw-pen" class="userranking__items-content-label-icon" rotate="90deg"></iconify-icon>
                            <p>W sumie wydanych</p>
                            <hr>
                            <h1>1</h1>
                            OPINI 
                        </div>
                        <div class="accountPage__stats__category">
                            <iconify-icon icon="tabler:quote" class="userranking__items-content-label-icon"></iconify-icon>
                            <p>W sumie dodanych</p>
                            <hr>

                            <h1>1</h1>
                            CYTATÓW
                        </div>
                        <div class="accountPage__stats__category">
                            <iconify-icon icon="bi:book" class="userranking__items-content-label-icon"></iconify-icon>
                            <p>W sumie dodanych</p>
                            <hr>
                            <h1>1</h1>
                            KSIĄŻEK
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
