{% extends 'main.html'%}
{% load static %}

{% block content %}
<section class="accountUser" style="flex-direction: column;;">
    <h1 class="label">USTAWIENIA</h1>
    <hr>
    <div class="accountUser__profile">
        <img src="../images/all/terry.jpg">
    </div>
   
    <form action="" class="userSettings">        
        
        {% csrf_token %}
        
        {% for field in form  %}

        <div class="userSettings__field form__field">
            <p class="userSettings__field--label">{{field.label}}</p>
            {{field}}
        </div>
        
        {% endfor %}

    <input type="submit" value="ZAPISZ ZMIANY" class="button-whitebg" style="margin-top: 2rem;">

    </form>

</section>



{% endblock content %}
