{% extends 'main.html'%}
{% load static %}

{% block content %}
<section class="loginPage">
    <div class="loginPage__header">
        <h1 class="label">Witaj ponownie!</h1>
        <h4 class="label">Jesteś tu nowy? <strong>&nbsp;<a href="{% url "register" %}">Zarejestruj się</a></strong></h4>
        <hr>
    </div>
    
    <form action="" class="form" method="POST">
        {% csrf_token %}
        {% for field in form  %}

        <div class="form__field">
            <label>{{field.label}}</label>
            {{field}}
        </div>
        {% endfor %}


            <input type="submit" class="button-whitebg" name="nick" id="" value="ZALOGUJ SIĘ">
        </div>

    </form>
    

</section>
{% endblock content %}
