 {% extends "main.html" %} 
 {% load static %}
  
{% block content %}
<section class="loginPage">
<div class="loginPage__header">
    <h1 class="label">Dołącz do Nas</h1>
    <h4 class="label">Jesteś już zarejestronwany?  <strong>&nbsp;<a href="{% url "login" %}">Zaloguj się</a></strong></h4>

    <hr>
</div>

<form action="" class="form" method="POST">
    {% csrf_token %}
    {% for field in form  %}
    <div class="form__field">
        <label for="{{field.label}}">{{field.label}}</label>
        {{field}}
    </div>
    
    {% endfor %}

    <input type="submit" class="button-whitebg" name="nick" id="" value="ZAREJESTRU SIĘ">

</form>


</section>
{% endblock content %}
