{% extends 'main.html'%}
{% load static %}

{% block content %}
<section class="accountUser" style="flex-direction: column;;">
    <h1 class="label">USTAWIENIA</h1>
    <hr>
    <div class="accountUser__profile">
        <img src="../images/all/terry.jpg">
    </div>
    
    <div class="userSettings">

        <div class="userSettings__field">
            <p class="userSettings__field--label">Pseudonim</p>
            <p class="userSettings__field--value">Terry</p>
        </div>

        <div class="userSettings__field">
            <p class="userSettings__field--label">Imie</p>
            <p class="userSettings__field--value">Terry</p>
        </div>

        <div class="userSettings__field">
            <p class="userSettings__field--label">Nazwisko</p>
            <p class="userSettings__field--value">Devis</p>
        </div>

        <div class="userSettings__field">
            <p class="userSettings__field--label">Płeć</p>
            <p class="userSettings__field--value">Mężczyzna</p>
        </div>
        
        <div class="userSettings__field">
            <p class="userSettings__field--label">Data urodzenia</p>
            <p class="userSettings__field--value">Devis</p>
        </div>

        <div class="userSettings__field">
            <p class="userSettings__field--label">Opis</p>
            <p class="userSettings__field--value">Lubię placki</p>
        </div>
        
        

    </div>

    <a href="./editsettings.html" class="button-whitebg" style="margin-top: 2rem;">EDTYUJ KONTO</a>

</section>
{% endblock content %}
