.pageContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    gap: 1em;
}

.pageContainer__label{
    font-size: 2em;
    font-weight: 300;
    color:#a6a4a4;
    padding-bottom: 2em;
}

.popularCategory{
    width: 100%;
    height: 600px;
    background-image: url(../images/all/test.jpg);
    background-repeat: no-repeat;
    background-size:cover ;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-bottom: 2%;
}

.popularCategory__label{
    color: #fff;
    font-size: 1.5rem;
    padding-top: 1%;
    padding-bottom: 1%;
}

.popularCategory__books__content{
    width: 100%;
    height: 100%;
    display: grid;
    gap: 1em;
    justify-content: center;
    align-content: center;
    overflow: hidden;
}

.popularCategory__book{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.popularCategory__book .popularCategory__book__picture{
    height: 80%;
    overflow: hidden;
}

.popularCategory__book .popularCategory__book__picture img{
    width: 90%;
    height: 100%;
}

.popularCategory__book .popularCategory__book__info{
    height: 20%;
}

.popularCategory__book .popularCategory__book__info a{
    padding-top: 3%;
    margin: 0;
    display: block;
    text-decoration: none;
    color:#e0e0de;
}


@media(max-width:600px){
    .popularCategory__books__content{
        grid-template-columns:repeat(2, 10em) ;
        grid-template-rows:repeat(2, 16em) ;
        grid-row-gap: 2em;
    }
}

@media(min-width:600px){
    .popularCategory__books__content{
        grid-template-columns:repeat(2, 11em) ;
        grid-template-rows:repeat(2, 16em) ;
        align-content: center;
    }
}

@media(min-width:1400px){
    .popularCategory__books__content{
        grid-template-columns:repeat(4, 15em) ;
        grid-template-rows:25em;
        align-content: center;
        column-gap: 2em;
    }
}


