{% extends "main.html" %}
{% block content %} 
<section class="addbook">
    <h1 class="label">DODAJ KSIĄŻKE</h1>
    <hr>  

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <h3 class="label-box">PODSTAWOWE INFORMACJE O KSIĄŻCE</h3>
        <div class="addbook__topInfo">
            
            {% for field in basic  %}
            {% if field.label == "Image" %}
            <div class="addbook__bookImage">
                {{field}}
                <label for="upload" class="button-whitebg">DODAJ OKŁADKĘ</label>
                <p>Maksymalny rozmiar pliku 1MB</p>
            </div>
            {% endif %}
            {% endfor %}

            
            <div class="addbook__basicInfo">
                
                {% for field in basic  %}
                {% if field.label != "Image" %}
                <div class="form__field">
                    <label for="booklabel">{{field.label}}</label>
                    {{field}}
                </div>
                {% endif %}
                {% endfor %}

            </div>
        </div>
        
        <div class="addbook__bottomInfo">

            <div class="addbook__bookDescription">
                <h3 class="label-box">OPIS KSIĄŻKI</h3>
                
                {% for field in descriptionInfo  %}
                <div class="form__field">
                    <label for="{{field.label}}">{{field.label}}</label>
                    {{field}}
                </div>
                {% endfor %}

            </div>
            
            <div class="addbook__detailInfo">
                <h3 class="label-box">INFORMACJA O WYDANIU</h3>

                {% for field in publisherInfo  %}
                <div class="form__field">
                    <label for="{{field.label}}">{{field.label}}</label>
                    {{field}}
                </div>
                {% endfor %}

            </div>

        </div>
        
        <input type="submit" class="button-whitebg" style="text-align: center;" name="nick" id="" value="DODAJ KSIĄŻKE">

        </div>
        
        
        
        
        

    </form>

</section>
{% endblock  %}
