.header__navbar{
    height: 40px;
    width:60%;
    padding-top: 2em;
    padding-bottom: 2em;
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-wrap:wrap;
    font-weight: 600;
    background-color: #ffff;
}

.header__navbar a{
    text-decoration: none;
    color:black;
    letter-spacing: 1px;
    transition: 0.15s;
}

.header__navbar a:hover{
    color:#D5B001;
}

.header__navbar__dropdown .header__navbar__dropbut{
    font-weight: 600;
    text-decoration: none;
    color:black;
    letter-spacing: 1px;
    transition: 0.15s;
    border:none;
    background: none;
    font-size: 1em;
}

.header__navbar__dropdown .header__navbar__dropbut:hover{
    color:#D5B001;
}

.header__navbar__dropdowncontent{
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.header__navbar__dropdowncontent a{
    float: none;
    display: block;
    padding: 12px 16px;
}

.header__navbar__dropdown:hover .header__navbar__dropdowncontent{
    display: block;
}
