.usersettings{
    width: 100%;
    padding-bottom: 50em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1em;
    box-sizing: border-box;
}

.usersettings__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    gap: 4em;
}
.usersettings__form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    box-sizing: border-box;
    align-items: center;
}

.usersettings__subtitle{
    color: black;
    font-size: 1.2em;
    font-weight: 400;
}

.usersettings__subtitle--value{
    color: grey;
    font-size: 1.3em;
    font-weight: 500;
}

.usersettings__userProfile{
    width: 150px;
    height: 150px;
    box-sizing: border-box;
}

.usersettings__userProfile img{
    border-radius: 50%;
    width: 100%;
}

.usersettings__userInfo{
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    text-align: left;
    padding-top: 2em;
    gap: 1em;
}

.usersettings__userInfo__field{
    border: 1px solid black;
    padding: 1em 2em;
    box-sizing: border-box;
}

.usersettings__submit{
    border: 2px solid #ffda1d;
    color: #ffda1d;
    background-color: transparent;
    box-sizing: border-box;
    transition: 0.4s;
    padding: 2em 3em;
    text-decoration: none;
}

.usersettings__submit:hover{
    background-color: #ffda1d;
    color: #fff;
}


.usersettings__userInfo__field input[type='text'],
.usersettings__userInfo__field select,
.usersettings__userInfo__field textarea{
    height: 2em;
    width: 90%;
    border:none;
    border-bottom: 2px solid grey;
    outline: none;
    transition: 0.4s;
    color: grey;
    font-size: 1.3em;
    font-weight: 500;
}

.usersettings__userInfo__field textarea{
    box-sizing: border-box;
    border: 2px solid grey;
    height: 150px;
    resize: none;
    margin-top: 1em;
}

.usersettings__userInfo__field input:hover,
.usersettings__userInfo__field input:hover,
.usersettings__userInfo__field textarea:hover{
    border-color: #ffda1d; 
}




@media (max-width:1500px){
    .usersettings__content{
        width: 60%;
    }
}

@media (max-width:1200px){
    .usersettings__content{
        width: 70%;
    }
}

@media (max-width:990px){
    .usersettings__content{
        width: 80%;
    }
}


@media(max-width:680px){
    .usersettings__content{
        width: 90%;
    }

}




